{%extends 'main/layout.html'%}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Князь Василий исполнил обещание, данное на вечере у Анны Павловны княгине Друбецкой, просившей его о своем единственном сыне Борисе. О нем было доложено государю, и, не в пример другим, он был переведен в гвардии Семеновский полк прапорщиком. Но адъютантом или состоящим при Кутузове Борис так и не был назначен, несмотря на все хлопоты и происки Анны Михайловны. Вскоре после вечера Анны Павловны Анна Михайловна вернулась в Москву, прямо к своим богатым родственникам Ростовым, у которых она стояла в Москве и у которых с детства воспитывался и годами живал ее обожаемый Боренька, только что произведенный в армейские и тотчас переведенный в гвардейские прапорщики. Гвардия уже вышла из Петербурга 10-го августа, и сын, оставшийся для обмундирования в Москве, должен был догнать ее по дороге в Радзивилов.</p>
        <button class="btn btn-warning">{% filter upper %}На страницу про нас{% endfilter %}</button>
    </div>
{% endblock %}